/*Backgroung page registrazione*/
#bg-register{
    background-image: url("../../public/img/bg-register.jpg");
}


/*background page login*/
#bg-doctor-login{
    background-image: url("../../public/img/doctor-login.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 80vh;
}


/*immagine carousel page creazione profilo*/
.hero-register{
    background-image: url("../../public/img/carousel-1.png");
    background-position: left;
    background-repeat: no-repeat;
    height: 70vh;
}

/*gestisce la comparsa dell'immagine profilo grande on hover su quella piccola*/
#user-img-big {
    position: absolute;
    width: fit-content;
    right: 10px;
    top: 620px;
    display: none;
}

#user-img-big img {
    height: 400px;
}

#user-img:hover #user-img-big {
    display: block;
}


/*crea il bordo del popover che contiene la foto profilo grande*/
.container-img-big {
    /* Border */
    border: 1px solid rgba(0, 0, 0, 0.3);

    padding: 20px;

    /* Used to position the arrow */
    position: relative;
}

.container__arrow {
    /* Size */
    height: 24px;
    width: 24px;

    background-color: #f8fafc;
    position: absolute;
}

.container__arrow--lc {
    /* Position at the left center */
    left: 0;
    top: 50%;

    /* Border */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%) rotate(45deg);
}


/* stabilisce l'ampiezza delle sezioni di preview nella vista di edit
   per renderle di uguale larghezza e quindi allineate*/
.edit-info-preview {
    width: 35%;
}

// hover tag dashboard 
.ms_hov_active:hover{
    background-color: #76b0e7;
}