/***** DOTTORI SPONSORIZZATI STYLE *****/
@import "../_variables.scss";

#sponsored-section {
  // background-color: #F1F5F9;
  background: linear-gradient(-180deg,hsl(206deg 95% 94%),#fff);
  padding-top: 100px;
  padding-bottom: 80px;
}

h2 {
  font-size: 1.6em;
  text-align: center;
  max-width: 180px;
  background-color:   #2e86c1 ;
  padding: 6px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0;
  color: #fff;
  border: 1px solid #2e86c1;
  border-bottom: none;
  box-shadow: 0px 0px 1px#000;

}

#sponsor-container {
  background-color: #DBEDFD;
  border-radius: 5px;
  border-top-left-radius: 0;
  box-shadow: 0px 0px 1px#000;
  min-height: 400px;

  .img-card-wrap {
    max-height: 150px;
    
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .spec-list {
    list-style: none;
    padding-left: 0;
  }
}