/******* SEARCH MAIN STYLE *******/

@import "../_variables.scss";

#ms_max-width {
  max-width: 1600px;
  padding: 0 30px 0 30px;
  margin: auto;
}
.ms_search-res {
  min-height: 800px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 1px solid #f1f1f1;
  box-shadow: 0 0 3px #c3c3c3;
  border-top-left-radius: 12px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 20px;
}

.col-filtro {
  border: 1px solid #c3c3c3;
  border-radius: 20px;
  background-color:  #f4f6f7;
  padding: 0;
  box-shadow: 2px 0px 15px #c3c3c3;
}

.col-dottori {
}

.p-rows {
  padding-left: 10px;
  padding-right: 10px;
}

#name-search {
  // background-color:  #aed6f1;
  background-color:  #4689CF;
  box-shadow: 0px 1px 5px #c3c3c3;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 15px 15px;
  margin-bottom: 20px;
}

//STYLE COMPONENT SEARCH SELECT SPECIALTY
#search-select-specialty {
  
  border-bottom: 1px solid #c3c3c3;
  padding-top: 20px;
  padding-bottom: 40px;


  .ms_new-specialty-search {
    color: #2b4660;
    font-weight: 600;
  }

  .ms_select-spec {
    select {
      box-shadow: 0px 0px 3px #c3c3c3;
    }
  }

  #btn-search {
    width: 100%;
    background-color: #f5b041;
    box-shadow: 0px 0px 3px #c3c3c3;
  }

}
// FINE STYLE COMPONENT SEARCH SELECT SPECIALTY

#filtri-select {

  #ms_filter-toggler {
    font-size: 1.1em;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 0;
    color: #008080;

    i {
      margin-left: 10px;
    }
    
  }

  .filter-header {

    margin-bottom: 20px;

    h3 {
      color: #2b4660;
      font-weight: 700;
    }
      
  } 

  #rating-stars-wrap {
    width: 100%;

    .rating-title {
      color: #2b4660;
      font-weight: 600;
    }

    i {
      color: #00C3A5;
    }

    ul {
      list-style: none;
      padding-left: 0;
    }

    li {
      margin: 10px 15px 10px 0;

      label {
        cursor: pointer;
      }
    }
  }

  #range-reviews-wrap {
    width: 100%;

    .reviews-range-title {
      color: #2b4660;
      font-weight: 600;
    }

    ul {
    padding-top: 10px;

      list-style: none;
      padding-left: 0;

      li {
        margin: 0 15px 10px 0;

        label {
          cursor: pointer;
        }
      }
    }
  }
}


/********* INIZIO STILE CARD **********/
#card-doc-container {

  padding-bottom: 20px;
  .ms_card {
    border-radius: 10px;
    box-shadow: 0 0 6px #c3c3c3;
  }

.img-card-wrap {
    max-height: 150px;
    
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .card-title {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #2b4660;
    font-weight: 800;
  }

  .spec-list {
    margin-bottom: 8px;
    color: #556;
    list-style: none;
    padding-left: 0;
  }

  .card-text {
    color: #556;
  }

}


/********* FINE STILE CARD ***********/